.details-page {
  background: #f7f8fa;
  padding: 20px 0;

  .white-box {
    padding: 20px;
    background: #fff;
  }

  .submenu {
    display: flex;
    justify-content: space-between;
    a {
      color: #2a7ddd;
      padding: 20px;
      text-decoration: none;
    }
    .direction {
      display: flex;
      flex-direction: row;
      text-transform: capitalize;
    }
    .sub-links {
      display: flex;
      flex-direction: row;
      text-transform: capitalize;
    }
  }

  .content-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    .media-column {
      .gallery {
        .slider {
          .main-image {
            position: relative;
            .arrows {
              top: 0;
              bottom: 0;
              padding: 0 15px;
              height: 100%;
              vertical-align: center;
              background: rgba(0, 0, 0, 0.3);
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.8rem;
              color: #fff;
              cursor: pointer;

              &.left-arrow {
                left: 0;
              }

              &.right-arrow {
                right: 0;
              }
            }

            .image-1 {
              width: 100%;
              height: 400px;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.35);
              -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.35);
              box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.35);
            }
          }
        }
        .thumbnails {
          padding: 5px 0;
          justify-content: space-between;
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          grid-gap: 5px;
          .thumb-img {
            width: 100px;
            height: 100px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.35);
            -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.35);
            box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.35);
          }
        }
      }
    }
    .details-column {
      .date {
        font-size: 0.9rem;
        margin-bottom: 15px;
        color: #424242;
      }

      .fa-star {
        font-size: 1.6rem;
        float: right;
        padding: 0.2rem;
      }
      .title {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 15px;
      }

      .price {
        color: green;
        font-size: 300;
        font-size: 1.7rem;
        font-weight: 300;
        margin-bottom: 30px;
      }

      label {
        font-weight: 700;
        font-size: 0.8rem;
        text-transform: uppercase;
        margin-bottom: 10px;
        display: block;
      }
      .more-details {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #f6f6f7;

        .info {
          h5 {
            font-size: 0.9rem;
            font-weight: 300;
            text-transform: capitalize;
          }
        }
      }
      .description {
        p {
          line-height: 1.5;
          font-size: 0.9rem;
          color: #424242;
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
