@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "home";
@import "listings";
@import "details";
* {
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
      90deg,
      rgba(210, 64, 116, 0.7) 0%,
      rgba(18, 104, 195, 0.7) 100%
    ),
    url("https://images.pexels.com/photos/373912/pexels-photo-373912.jpeg?cs=srgb&dl=aerial-architectural-design-architecture-373912.jpg&fm=jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

header {
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  .left-menu {
    display: flex;
    .logo {
      font-size: 2rem;
      justify-content: center;
      align-items: center;
      display: flex;
      color: white;
      font-weight: 300;
    }
    .city {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.25rem;
      padding: 15px 20px;
      color: white;
      font-weight: 200;

      i {
        padding-left: 5px;
      }
    }
  }

  .right-menu {
    display: flex;
    .user-img {
      justify-content: center;
      align-items: center;
      display: flex;
      font-size: 1.75rem;
      color: white;
    }

    .user-dropdown {
      justify-content: center;
      align-items: center;
      display: flex;
      padding: 15px 20px;
      color: white;

      i {
        padding-left: 10px;
      }
    }

    .post-btn {
      padding: 15px 20px;
      background: black;
      font-weight: 300;
      color: white;
      text-transform: capitalize;
    }
  }
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}
